.idea/
.vs/
.vscode/
bin/
obj/
packages/
__Local_Nuget_Registry__/
*.box
*.iso
*.csproj.user
*..pubxml.user
*.user
doc/gen/
**/test/report/**
**/test/reports/**
**/test/temp/**
_Scripts/logs/**
**/test/*.xml
TestResults/